*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cantainer{
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
    margin-left: 90px;
}

.row ul{
    display: flex;
    gap: 128px;
    margin-top: 14px;
}

.button1{
width: Hug (189px)px;
height: Hug (47px)px;
padding: 12px 24px 12px 24px;
gap: 0px;
border-radius: 8px ;
border: 2px solid red;
color: red;
}

.h2{
    width: 119px;
    height: 33px;
    margin-top: 8px;
    margin-left: 16px;
}

.box{
    display: flex;
}

ul li a{
    align-items: center;
width: 96px;
height: 21px;
text-decoration: none;
font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 2px;
text-align: left;

}

ul li{
    list-style-type: none;
}

a:hover{
    color: red;
    font-size: 20px;
}

main{
    width: 1540px;
    height: 563px;
    background-image: url("img/image\ 4.svg");
    background-repeat: no-repeat;
    background-size: cover;
}


.left{
    width: 500px;
height: 178.2px;
padding-top: 137px;
padding-left: 170px;
}

.cantenier2{
    display: flex;
}

.btn2{
    background-color: #DE2E54CC;
    color: white;
    width: 189px;
    height:  47px;
    margin-top: 48px;
}

.h1{
    color: white;
    width: 500px;
height: 82.29px;
top: 235.8px;
left: 170px;
gap: 0px;
opacity: 0px;

}

.img3{
    margin-left: 469px;
}

.right{
    padding-top: 70px;
    
}

.btn2:hover{
    font-size: 20px;
}


.left2{
display: flex;
width: 864px;
height: 200px;
gap: 64px;
margin-left: 288px;
margin-top: 30px;
}

.p{
    margin-top: 24px;
}

.display{
    margin-top: 35px;
}

.h_1{
    margin-top: 69px;
    margin-left: 693px;
    font-family: Open Sans Condensed;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    text-align: left;
}


.right2{
display: flex;
width: 864px;
height: 200px;
gap: 64px;
margin-top: 80px;
margin-left: 288px;
margin-bottom: 215px;
}

.display2{
    margin-top: 37px;
}

.h4-2{
    margin-bottom: 24px;
}

footer{
    background-color: #0EB4C1;
    width: 1540px;
    height: 569px;
}

.h-1{
    font-family: Inter;
font-size: 64px;
font-weight: 600;
line-height: 77.45px;
text-align: center;
width: 527px;
height: 63px;
margin-left: 474px;
}

.h11{
    padding-top: 64px;
}


.maps{
width: 513px;
height: 331px;
margin-left: 156px;
margin-top: 50px;
}


input{
width: 460px;
height: 39.11px;
gap: 0px;
border: none;
border-radius: 5px;
border: 1px solid rgba(0, 0, 0, 0.188);
}

.input{
    margin-left: 737px;
    margin-top: -328px;
}

.btnn{
width: 460px;
height: 39.11px;
border-radius: 5px;
background-color: #38CC8B;
color: white;
font-family: Poppins;
font-size: 25px;
font-weight: 600;
}

.btnn:hover{
    width: 490px;
height: 42.11px;
}

.btnn:active{
    width: 460px;
height: 39.11px;
}

input:hover{
    width: 480px;
height: 42.11px;
}

.h4{
    margin-top: 12px;
    margin-left: 16px;
    color: red;
}

.row3{
    display: flex; 
    margin-left: 170px; 
    margin-top: 24px;
   
}


ul{
    display: flex;
    gap: 32px;
    margin-left: 639px;
    margin-top: 10px;
}

.a1{
    color: white;
}


.black{
    background-color: black;
    width: Fixed (1,440px)px;
    height: 97.94px;
    margin-top: -50px;
}

.row3{
    padding-top: 24px;
}
